BROWSERSTACK_USERNAME=hellothere
BROWSERSTACK_ACCESS_KEY=ken000by
TIMEOUT=10
browserstack_url ="https://hub-cloud.browserstack.com/wd/hub"

ANDROID_DEVICE=Google Pixel 7
ANDROID_VERSION=13.0
ANDROID_APP=bs://sample.app

IOS_DEVICE=iPhone 14 Pro Max
IOS_VERSION=16
